.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b043b;
  padding: 0 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 5px solid whitesmoke;
  z-index: 10;
}

.navLogo a {
  display: block;
}

.navLogo a img {
  display: block;
  width: 80%;
  height: 50px;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.navMenu ul li {
  list-style-type: none;
}

.navMenu ul li a {
  color: whitesmoke;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toggleMenu {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburgerMenu {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburgerMenu::before,
.hamburgerMenu::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: whitesmoke;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburgerMenu::before {
  top: -10px;
  width: 30px;
  height: 4px;
}

.hamburgerMenu::after {
  top: 10px;
  width: 30px;
  height: 4px;
}

.hamburgerMenu,
.toggleMenu {
  display: none;
}

.navMenu input:checked ~ .hamburgerMenu {
  background: transparent;
}

.navMenu input:checked ~ .hamburgerMenu::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 30px;
}

.navMenu input:checked ~ .hamburgerMenu::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 30px;
}

.navMenu input:checked ~ ul {
  right: 0;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 645px) {
  .hamburgerMenu,
  .toggleMenu {
    display: block;
  }
  .navBar {
    min-width: 452px;
  }
  .navMenu ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: fixed;
    top: 70px;
    right: -100%;
    background-color: #3b043b;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 5px;
  }
  li {
    left: 0;
    -webkit-transition: left 2s linear;
    transition: left 2s linear;
  }
  .navMenu input:checked ~ ul li {
    margin: 0;
    width: auto;
    position: relative;
  }
  .navMenu input:checked ~ ul li a {
    padding-left: 5px;
    width: 90px;
  }
  .navMenu input:checked ~ ul li:nth-of-type(1) {
    left: -80%;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .navMenu input:checked ~ ul li:nth-of-type(2) {
    left: -80%;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .navMenu input:checked ~ ul li:nth-of-type(3) {
    left: -80%;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
}

.container {
  border: 1px solid black;
  margin: 50px auto;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.container .formInput {
  margin: 5px auto;
  width: 80%;
  font-size: 1.5rem;
}

.container .formInput input[type="email"],
.container .formInput input[type="password"] {
  width: 100%;
  font-size: 1.25rem;
}

.container .formInput input[type="checkbox"] {
  width: 20px;
  height: 20px;
  font-size: 0.95rem;
  margin: 0;
}

.container .formInput span {
  margin: 0;
  font-size: 1.25rem;
}

.container a {
  position: relative;
  bottom: 30px;
  left: 200px;
  margin: 0;
  font-size: 1.25rem;
  margin: 0 11px;
  width: 40%;
  text-decoration: none;
}

.container a:visited {
  color: blue;
}

.container button {
  font-size: 2rem;
  padding: 5px;
  margin: 10px auto;
  width: 70%;
  background-color: blue;
  color: white;
}

.container .loginImg {
  width: auto;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .loginImg img {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 460px) {
  .container {
    min-width: 400px;
    margin: 50px 26px;
  }
  .container input {
    width: auto;
    margin: auto;
  }
}

.productContainer {
  width: 99%;
}

.productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px 20px;
  background-color: rgba(128, 128, 128, 0.053);
}

.productCard figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
}

.productDiscription {
  width: 80%;
  margin-left: 20px;
  text-align: left;
}

.productDiscription h3 {
  margin: 2px 0;
  font-size: 1.5rem;
}

.productDiscription h4 {
  margin: 2px 0;
  font-weight: lighter;
}

.productImg {
  width: 165px;
  height: 165px;
  border-radius: 10%;
}

.productCheckOut {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  padding-right: 10px;
}

.productCheckOut p {
  color: green;
}

.productCheckOut button {
  background-color: #eac84a;
  width: 100px;
  height: auto;
  border: none;
}

.productCheckOut button img {
  width: 25px;
  height: 25px;
  padding: 5px 5px 0;
}

.priceTag {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.priceTag sup {
  font-size: 0.99rem;
}

@media screen and (max-width: 822px) and (orientation: portrait) {
  .productCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productCard figure {
    width: auto;
    max-height: 210px;
  }
  .productDiscription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .productCheckOut {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
  }
  .productCheckOut .priceTag,
  .productCheckOut p,
  .productCheckOut .addToCard {
    margin: 0 3px;
  }
}

@media screen and (max-width: 495px) and (orientation: portrait) {
  .productContainer {
    min-width: 450px;
  }
  .productCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .productCard figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productCard .productImg {
    width: 100px;
    height: 100px;
  }
  .productCheckOut {
    min-width: 200px;
  }
  .productCheckOut p {
    text-align: center;
    width: auto;
  }
}

footer, footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(128, 128, 128, 0.053);
}

footer div {
  background-color: rgba(128, 128, 128, 0);
}

.footerNav, .socialsContainer {
  margin: 25px 50px;
  list-style: none;
  text-align: left;
  min-width: 150px;
}

.footerNav p, .socialsContainer p {
  font-weight: bolder;
  margin-top: 1px;
}

.footerNav li, .socialsContainer li {
  padding: 5px;
  margin: 2px;
  color: gray;
}

.footerNav a, .socialsContainer a {
  text-decoration: none;
}

.footerNav a span, .socialsContainer a span {
  color: black;
  font-weight: bold;
}

.footerNav a:visited, .socialsContainer a:visited {
  color: gray;
}

.socialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.socialsContainer p {
  padding-bottom: 5px;
}

.socialsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
}

.socialsIcons img {
  width: 30px;
  height: 30px;
  padding: 2px 3px;
}

@media screen and (max-width: 495px) and (orientation: portrait) {
  footer, footer div {
    min-width: 420px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerNav, .socialsContainer {
    margin: 5px;
  }
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}
/*# sourceMappingURL=main.css.map */