.container {
    background-color: aliceblue;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-auto-rows:repeat(3, 1fr) ;
}


.gridBox {
    border: black solid 1px;
    text-align: center;
    padding-top: 50px;
    font-size: 1.5em;
    font-weight: bold;
   
}

.leftSidebar {
  background-color: lightgreen;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.topArticle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.botArticle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.articleFive {
    grid-row-start: 5;
}