$screenHeight: 90vh;
$borderDeco: 1px solid rgb(0, 0, 0);
$textColor: whitesmoke;
$background: rgb(59, 4, 59);
$fontSize: (
  "small": 0.5rem,
  "normal": 1.25rem,
  "medium": 1.5rem,
  "large": 2rem,
);

.navBar {
  width: 99%;
  height: 75px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid white;
  margin: 10px auto;
  background-color: $background;
  font-size: map-get($fontSize, medium);
  z-index: 10;
}

.navImg {
  width: 250px;
  height: 100%;
  padding: 10px;
  justify-self: center;
}

.navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  padding: 0;
}

.menuMobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#checkbox {
  visibility: hidden;
}

.navList {
  list-style: none;
  font-weight: bold;

  img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 8px;
    padding: 2px 2px 0 2px;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: $textColor;
  }
}

// navItem hidden in hamburge menu at ~810

// @media screen and (max-width: 575px) and (orientation: portrait) {
//   .navBar {
//     min-width: 450px;
//     margin: auto;
//   }

// }

@media (max-width: 850px) {
  .navItems {
    background-color: black;
  }

  #menuMobile {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    a {
      text-decoration: none;
      color: #232323;

      transition: color 0.3s ease;
    }

    a:hover {
      color: tomato;
    }
  }
}
