$screenHeight: 90vh;
$borderDeco: 1px solid rgb(0, 0, 0);
$textColor: whitesmoke;
$background: rgb(59, 4, 59);
$fontSize: (
  "small": 0.5rem,
  "normal": 1.25rem,
  "medium": 1.5rem,
  "large": 2rem,
);

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  padding: 0 25px;
  transition: 0.3s;
  border: 5px solid $textColor;
}

.navLogo {
  a {
    display: block;

    img {
      display: block;
      width: 80%;
      height: 50px;
    }
  }
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;

    li {
      list-style-type: none;

      a {
        color: $textColor;
        text-decoration: none;
        display: block;
        padding: 40px 25px;
        // font-size: ;
        // line-height:;
        transition: 0.3s;
      }

      a:hover {
        color: red;
      }
    }
  }
}


.toggleMenu {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburgerMenu {
   position: relative;
   width: 30px;
   height: 4px;
   background-color: $textColor;
   cursor: pointer;
   z-index: 2;
   transition: 0.3s;
}

.hamburgerMenu::before, 
.hamburgerMenu::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: $textColor;
   transition: 0.3s;

}

.hamburgerMenu::before {
  top: -10px;
  width: 30px;
  height: 4px;
}

.hamburgerMenu::after {
  top: 10px;
  width: 30px;
  height: 4px;
}

.hamburgerMenu,
.toggleMenu {
  display: none;
}

.navMenu input:checked ~ .hamburgerMenu {
    background: transparent;
  }

  .navMenu input:checked ~ .hamburgerMenu::before {
    top: 0;
    transform: rotate(135deg);
    width: 30px;
  }

  .navMenu input:checked ~ .hamburgerMenu::after {
    top: 0;
    transform: rotate(-135deg);
    width: 30px;
  }

  .navMenu input:checked ~ ul {
     right: 0;
  }



  @media screen and (max-width: 645px) {
    .hamburgerMenu,
    .toggleMenu {
      display: block;
    }
    
     .navMenu{


      ul{
        justify-content: start;
        flex-direction: column;
        align-items: start;
        position: fixed;
        top: 70px;
        right: -100%;
        background-color: $background;
        border-left: 5px solid $textColor;
        border-right: 5px solid $textColor;
        width: 100%;
        height:100%;
        padding-top: 30px;
        padding-left: 5px;
      }
    }
  }