$screenHeight: 90vh;
$borderDeco: 1px solid rgb(0, 0, 0);
$textColor: whitesmoke;
$background: rgb(59, 4, 59);
$fontSize: (
  "small": 0.5rem,
  "normal": 1.25rem,
  "medium": 1.5rem,
  "large": 2rem,
);

$fontFamily: (
 "AbrilFatFace": 'Abril Fatface',
"Merriweather": 'Merriweather',
"WorkSans": 'Work Sans',
);