.navBar {
  width: 99%;
  height: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid white;
  margin: 10px auto;
  background-color: #3b043b;
  font-size: 1.5rem;
  z-index: 10;
}

.navImg {
  width: 250px;
  height: 100%;
  padding: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  padding: 0;
}

.menuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#checkbox {
  visibility: hidden;
}

.navList {
  list-style: none;
  font-weight: bold;
}

.navList img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 8px;
  padding: 2px 2px 0 2px;
}

.navList a {
  text-decoration: none;
}

.navList a:visited {
  color: whitesmoke;
}

@media (max-width: 850px) {
  .navItems {
    background-color: black;
  }
  #menuMobile {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuMobile a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuMobile a:hover {
    color: tomato;
  }
}

.navBar {
  width: 99%;
  height: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid white;
  margin: 10px auto;
  background-color: #3b043b;
  font-size: 1.5rem;
  z-index: 10;
}

.navImg {
  width: 250px;
  height: 100%;
  padding: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  padding: 0;
}

.menuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#checkbox {
  visibility: hidden;
}

.navList {
  list-style: none;
  font-weight: bold;
}

.navList img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 8px;
  padding: 2px 2px 0 2px;
}

.navList a {
  text-decoration: none;
}

.navList a:visited {
  color: whitesmoke;
}

@media (max-width: 850px) {
  .navItems {
    background-color: black;
  }
  #menuMobile {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuMobile a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuMobile a:hover {
    color: tomato;
  }
}

.container {
  border: 1px solid black;
  margin: 50px auto;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.container .formInput {
  margin: 5px auto;
  width: 80%;
  font-size: 1.5rem;
}

.container .formInput input[type="email"],
.container .formInput input[type="password"] {
  width: 100%;
  font-size: 1.25rem;
}

.container .formInput input[type="checkbox"] {
  width: 20px;
  height: 20px;
  font-size: 0.95rem;
  margin: 0;
}

.container .formInput span {
  margin: 0;
  font-size: 1.25rem;
}

.container a {
  position: relative;
  bottom: 30px;
  left: 200px;
  margin: 0;
  font-size: 1.25rem;
  margin: 0 11px;
  width: 40%;
}

.container button {
  font-size: 2rem;
  padding: 5px;
  margin: 10px auto;
  width: 70%;
  background-color: blue;
  color: white;
}

.container .loginImg {
  width: auto;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .loginImg img {
  width: 250px;
  height: 250px;
}

@media (max-width: 460px) {
  .container {
    min-width: 400px;
    margin: 50px 26px;
  }
  .container input {
    width: auto;
    margin: auto;
  }
}

.productContainer {
  width: 99%;
}

.productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px 20px;
  background-color: rgba(128, 128, 128, 0.053);
}

.productCard figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
}

.productDiscription {
  width: 80%;
  margin-left: 20px;
  text-align: left;
}

.productDiscription h3 {
  margin: 2px 0;
  font-size: 1.5rem;
}

.productDiscription h4 {
  margin: 2px 0;
  font-weight: lighter;
}

.productImg {
  width: 165px;
  height: 165px;
  border-radius: 10%;
}

.productCheckOut {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  padding-right: 10px;
}

.productCheckOut p {
  color: green;
}

.productCheckOut button {
  background-color: #eac84a;
  width: 100px;
  height: auto;
  border: none;
}

.productCheckOut button img {
  width: 25px;
  height: 25px;
  padding: 5px 5px 0;
}

.priceTag {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.priceTag sup {
  font-size: 0.99rem;
}

@media screen and (max-width: 822px) and (orientation: portrait) {
  .productCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productCard figure {
    width: auto;
    max-height: 210px;
  }
  .productDiscription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .productCheckOut {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: auto;
  }
  .productCheckOut .priceTag,
  .productCheckOut p,
  .productCheckOut .addToCard {
    margin: 0 3px;
  }
}

@media screen and (max-width: 495px) and (orientation: portrait) {
  .productContainer {
    min-width: 450px;
  }
  .productCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .productCard figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productCard .productImg {
    width: 100px;
    height: 100px;
  }
  .productCheckOut {
    min-width: 200px;
  }
  .productCheckOut p {
    text-align: center;
    width: auto;
  }
}

.navBar {
  width: 99%;
  height: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid white;
  margin: 10px auto;
  background-color: #3b043b;
  font-size: 1.5rem;
  z-index: 10;
}

.navImg {
  width: 250px;
  height: 100%;
  padding: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  padding: 0;
}

.menuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#checkbox {
  visibility: hidden;
}

.navList {
  list-style: none;
  font-weight: bold;
}

.navList img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 8px;
  padding: 2px 2px 0 2px;
}

.navList a {
  text-decoration: none;
}

.navList a:visited {
  color: whitesmoke;
}

@media (max-width: 850px) {
  .navItems {
    background-color: black;
  }
  #menuMobile {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuMobile a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuMobile a:hover {
    color: tomato;
  }
}

footer, footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(128, 128, 128, 0.053);
}

footer div {
  background-color: rgba(128, 128, 128, 0);
}

.footerNav, .socialsContainer {
  margin: 25px 50px;
  list-style: none;
}

.footerNav p, .socialsContainer p {
  font-weight: bolder;
  margin-top: 1px;
}

.footerNav li, .socialsContainer li {
  padding: 2px;
  margin: 2px;
  color: gray;
}

.footerNav a, .socialsContainer a {
  text-decoration: none;
}

.footerNav a span, .socialsContainer a span {
  color: black;
  font-weight: bold;
}

.footerNav a:visited, .socialsContainer a:visited {
  color: gray;
}

.socialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.socialsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
}

.socialsIcons img {
  width: 25px;
  height: 25px;
  padding: 2px 5px;
}

@media screen and (max-width: 495px) and (orientation: portrait) {
  footer, footer div {
    min-width: 420px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footerNav, .socialsContainer {
    margin: 5px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */