@import "navbar";
@import "login";
@import "product_card";
@import "footer";



body {
  background-color:white;
  padding: 0;
  margin: 0;
}

// *Font family 
// *text color 
// *button colors 
// background colors 


// Add ARIA to the login form
// Add mouse effevt when hovered over buttons or link 
