img {
  width: 30%;
}

.bgDeco::before {
  content: "Thre is a lot of text here. I wish I could lorem ipsum in a css rule but for some reason that's not working";
  position: absolute;
  width: 30%;
}


/* I supposed I need to get a smaller image */
p {
    width: 30%;

    position: absolute;
    bottom: 200px;
}

.deco::before {
    content: url(/CSS/images/rainbow\ splashes.jpg);
    position: relative;
    width: 30%;

}

