.container {
  border: solid 1px black;
  width: 400px;
  margin: 0;
  transform: none;
  width: 1000px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container:hover div {
  transform: translateX(890px);
  background-color: red;
}

.container:hover .box1 {
     border-radius: 100%;
}

.container:hover .box2 {
    border-radius: 30%;
}

.box1 {
  background-color: white;
  transition: background-color 5000ms, transform 5000ms, border-radius 5000ms;
}

.box2 {
  background-color: white;
  transition: background-color 5000ms linear, transform 5000ms linear, border-radius 5000ms linear;
}

.box3 {
  background-color: white;
  transition: background-color 5000ms ease-out, transform 5000ms ease-out;
}

.box4 {
  background-color: white;
  transition: background-color 5000ms ease-in-out, transform 5000ms ease-in-out;
}

/* .box5 {
  background-color: white;
  transition: background-color 5000ms cubic-bezier(0, 0.3, 0.5, 1), transform 5000ms cubic-bezier(1,.99,0,-0.01);
} */

div {
  width: 80px;
  padding: 35px 10px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
 justify-items: center;
}
