body {
    color: white;
    text-align: center;
}


.container {
    border: solid 1px black;
    width: 300px;
}

.circle {
    background-color: black;
    border: solid, 1px, black;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
    top: 35px;
    left: 55px;
}


.oval {
    background-color: black;
    border: solid, 1px, black;
    width: 220px;
    height: 25px;
    border-radius: 35px;
    position: relative;
    bottom: 90px;
    left: 10px;
    padding: 25px;
    font-size: 1.75rem;
}

.dot{
   background-color: white;
   border: solid, 1px, black;
   width: 7px;
   height: 7px;
   border-radius: 100%;
}

.dotLeft {
   position: relative;
   bottom: 145px;
   left: 55px;
}

.dotRight {
    position: relative;
    bottom: 125px;
    left: 225px;
}