.container {
    display: grid;
    /* grid-template-columns: repeat(8, 10%); */
    /* grid-template-columns: repeat(8, 0.5fr); */
    /* grid-template-rows: repeat(8, 10vh); */
    /* grid-template-rows: repeat(8, 0.5fr); */
    background-color: lightblue;
}

.gridBox {
    border: black solid 1px;
    text-align: center;
    padding-top: 50px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
}

.leftSidebar {
  background-color: lightgreen;
  /* grid-column: 1/ 3; */
  /* grid-column: 1/ span 2; */
  /* grid-row: 1/ 8; */
  /* padding-top: 135px; */
}

.topArticle {
    /* grid-column: 3/ 7; */
    /* grid-row: 1/ 3; */
    width: 600px;
    height: 200px;
}

.botArticle {
    /* grid-column: 4/ 8; */
    /* grid-row: 5/ 7; */
    width: 600px;
    height: 200px;
}
