.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(7, 75px);
  
}

.gridBox {
    border: black solid 1px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.leftSidebar {
  background-color: lightgreen;
  grid-column: 1/3;
  grid-row: 1/8;
}

.topArticle {
    width: 600px;
    height: 200px;
}

.botArticle {
    grid-column: 4;
    grid-row: 5;
    width: 600px;
    height: 200px;
} 