/* .container {
    display: block;
    border: 1px solid black;
} */

.textBlock {
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 55%;
    margin-top: 10px;
}

.square {
    display: block;
    position: relative;
    background-color: yellow;
    left: 60%;
    top: 30px;
    width:40px;
    height: 40px;
}


h1 {
    background-color: yellow;
    padding-left: 50px;
}

p {
    background-color: aliceblue;
    padding-left: 50px;
    margin-left: 25px;
    width: 40%;
}

img {
    display: inline-block;
    position: relative;
    bottom: 40px;
    width: 60%;
    z-index: 1;
}