body {
    background-color: rgb(245, 239, 151);
}

#boxContainer {
    display: flex;
    column-gap: 20px;
}

.box {
    background-color: rgb(130, 234, 130);
    padding: 50px;
}

.biggerBox {
    flex-grow: 2;
    text-align: center;
}