button {
    background-color: aqua;
    color: white;
    font-size: 2rem;
    width: 500px;
    height: 80px;
}

button:hover {
    color: black;
    padding: 0px;
    border-color: orange;
    border-style: solid;
    border-width: 10px;
}

