.carousel {
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.containerCarousel {
  width: 100%;
  height: 100%;
  position: relative;


  button {
    z-index: 5;
    position: absolute;
    background: none;
    border: 1px solid white;
    font-size: 1.50rem;
    padding: 15px;
    bottom: 10%;
    color: white;
  }

  .backClick{
     left: 10%;
  }

  .forwardClick {
    right: 10%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.photoSlider {
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 0;
   width: 90%;
   height: 90%;
  opacity: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.active {
  opacity: 1;
}



@media screen and ( max-width: 600px) {
 .carousel {
      min-width: 400px;

     
  }

}
