.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;

  button {
    width: 25%;
    font-size: 1.1rem;
  }

  #clearInput {
    width: 35%;
  }

  #removeSearchData {
    width: 50%;
  }

  p {
    font-size: 1.25rem;
  }
}

.searchBar {
  justify-content: space-evenly;
  width: 50%;
  padding: 20px;
  background-color: aquamarine;
  border: 1px black solid;

  label {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 70%;

    input[type="search"] {
      padding: 10px;
      font-size: 1rem;
      margin: 5px 0;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 860px) {
  .search {
    min-width: 400px;
    margin: auto;

    .searchBar {
      width: 90%;
      flex-direction: column;
    }
  }
}
