h1 {
    color: Black;
    border: 1px solid black;
    background-color: white;
    transition: color 1s ease-in, background-color 1s ease-in; 

}

h1:hover {
    color: white;
    background-color: black;
    border: 1px solid red;
}